* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#page-body {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

/*Section Start - Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 32px;
}

#logo h1{
  font-weight: normal;
  color: grey;
  font-size: 32px;
  margin-left: 16px;
}

#logo img {
  transform: scale(2);
}

strong {
  font-weight: bold;
  color: #414346 ;
}

header p {
  margin-right: 24px;
  word-spacing: 3px;
  font-size: 24px;
}
/*Section End - Header*/

#border {
  border: 2px solid lightgrey;
}

/*Section Start - Learn Something New */
#banner-main {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#banner-img {
  width: 60%;
  margin: 44px 24px;
}

#banner-img img {
  width: 100%;
  height: 100%;
}

#banner-text {
  margin: 42px;
  margin-left: 36px;
  width: 45%;
}

#banner-text h2 {
  font-size: 50px;
  font-weight: bold;
  color: #333435;
  margin-top: 100px;
  margin-bottom: 36px;
  margin-right: 28px;
}

#banner-text p {
  font-weight: bold;
  color: #4F4F54;
  font-size: 25px;
  margin: 36px 0px;
  margin-right: 60px;
}

#banner-text h4 {
  background: #333435;
  width: 400px;
  height: 60px;
  padding: 16px 0px;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin: 12px 0px;
  margin-right: 28px;
} 
/*Section End - Learn Something New */

/*Section Start - More Info */
#campus-main {
  display: flex;
}

#info-main {
  width: 60%;
  margin: 44px;
  margin-left: 24px;
  margin-right: 36px;
}

#info-main img {
  width: 100%;
}

#info-text {
  display: flex;
  flex-direction: column;
}

#info-text h2 {
  font-size: 42px;
  font-weight: bold;
  color: #333435;
  margin: 24px 0px;
}

#info-text p {
  font-size: 18px;
  line-height: 4vh;
  padding-right: 36px;
  margin-bottom: 24px;
}

#info-text h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 32px 0px;
}

#info-list {
  border-left: 2px solid lightgray;
  width: 50%;
  margin-top: 2px;
  margin-right: 2px;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#orient {
  border-bottom: 4px double lightgrey;
  margin-top: 24px;
}

#orient-text {
  width: 65%;
  line-height: 35px;
  padding-left: 24px;
  padding-right: 24px;
}

#orient-text h3 {
  font-size: 28px;
}

#orient-text p {
  font-size: 20px;
  font-weight: normal;
}

#orient-text a {
  text-decoration: none;
  color: #3B9AF4;
  font-size: 18px;
}

#orient img {
  width: 35%;
  padding: 16px;
  padding-right: 0px;
}

#campus {
  align-items: center;
}

#campus-text {
  width: 65%;
  line-height: 35px;
  padding-left: 24px;
  padding-right: 24px;
}

#campus-text h3 {
  font-size: 28px;
}

#campus-text p {
  font-size: 20px;
  font-weight: normal;
}

#campus-text a {
  text-decoration: none;
  color: #3B9AF4;
  font-size: 18px;
}

#campus img {
  width: 35%;
  padding: 16px;
  padding-right: 0px;
}

#lecture {
  background: lightgrey;
}

#lecture-text {
  width: 65%;
  line-height: 35px;
  padding-left: 24px;
  padding-right: 36px;
}

#lecture-text h3 {
  font-size: 28px;
}

#lecture-text p {
  font-size: 20px;
  font-weight: normal;
}

#lecture-text a {
  text-decoration: none;
  color: #3B9AF4;
  font-size: 18px;
}

#lecture img {
  width: 35%;
  padding: 16px;
  padding-right: 0px;
}
/*Section End - More Info */

/*Section Start - Classes */
#classes-main {
  background: lightgrey;
  height: 68em;
}

#classes-main h2 {
  text-align: center;
  font-size: 48px;
  padding: 32px 0px;
}

#class-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 72px;
  grid-gap: 32px;
}

.course-id {
  background: white;
}

.course-text h3 {
  font-size: 30px;
  padding: 24px 16px 16px;
}

.course-text h4 {
  font-size: 20px;
  font-weight: normal;
  padding: 16px 16px 4px;
  line-height: 8px;
}

.course-text p {
  font-size: 20px;
  padding: 16px;
  line-height: 1.6em;
}

.course-img {
  height: auto;
  width: 100%;
}
/*Section End - Classes */

/*Section Start - Thesis */
#thesis-main h2 {
  text-align: center;
  padding: 32px 0px;
  font-size: 48px;
}

#thesis-body {
  display: flex;
}

#urban-main{
  width: 60%;
  margin: 0px 24px;
  margin-bottom: 24px;
}

#urban-main video {
  width: 100%;
}

#urban-text {
  display: flex;
  flex-direction: column;
}

#urban-text h3 {
  font-size: 32px;
  font-weight: bold;
  color: #333435;
  margin-top: 24px;
  margin-bottom: 8px;
}

#urban-text p {
  font-size: 18px;
  line-height: 4vh;
  margin-top: 8px;
  margin-bottom: 32px;
  padding-right: 24px;
}

#urban-list {
  width: 48%;
  margin-right: 12px;
}

#fisma {
  background: lightgrey;
}

#fisma-text {
  width: 65%;
  line-height: 40px;
  padding-left: 24px;
  padding-right: 36px;
}

#fisma-text h3 {
  font-size: 28px;
}

#fisma-text p {
  font-size: 20px;
  font-weight: normal;
}

#fisma img {
  width: 35%;
  padding: 16px;
  padding-right: 0px;
}

#new-york {
  margin-top: 24px;
}

#newyork-text {
  width: 65%;
  line-height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

#newyork-text h3 {
  font-size: 28px;
}

#newyork-text p {
  font-size: 20px;
  font-weight: normal;
}

#new-york img {
  width: 35%;
  padding: 16px;
  padding-right: 0px;
}
/*Section End- Thesis*/
footer {
  display: flex;
  justify-content: space-between;
  margin: 24px 28px;
  height: 10vh;
}

#terms {
  word-spacing: 20px;
}
